[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/tikv/rocksdb.git
	branch = tikv-4.x
[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/tikv/titan.git
	branch = tikv-4.x

[submodule "librocksdb_sys/terarkdb"]
	path = librocksdb_sys/terarkdb
	url = https://github.com/bytedance/terarkdb.git
	branch = master
